<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercury North</title>
    <!-- put css here -->
    <link href='lib/bootstrap/dist/css/bootstrap.min.css' type="text/css" rel="stylesheet" />
    <link href='css/landing-page.css' type="text/css"  rel="stylesheet" />
    <link href='css/Site.css' type="text/css"  rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <!-- NOTE: Icon made by http://www.flaticon.com/authors/madebyoliver from www.flaticon.com -->
                    <span style="margin-top: -5px;" class="pull-left"><img src="../../images/arrows.png"/></span>
                    <span style="padding-left: 10px;">Mercury North</span>
                </div>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Mercury North</h1>
                        <h3>Proof of Concept</h3>
                        <!-- For any type of deployments, lets show the machine name for info. -->
                        <h5>@ViewBag.Machine</h5>
                        <hr class="intro-divider">
                        <h4>Doing all our science from scratch since @ViewBag.FoundingYear</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <a name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Imaging Solutions</h2>
                    <p class="lead">Mercury North has conducted extensive research into alternative imaging solutions and technology to extract visualizations. As an industry pioneer in alternative visualization technology, our roadmap is moving forward aggressively.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- NOTE: From https://static.pexels.com/photos/24217/pexels-photo-24217.jpg -->
                    <img class="img-responsive" src="../../images/pexels-photo-24217_900.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Aerospace</h2>
                    <p class="lead">Specialized aerospace technology developed and designed as part of Mercury North has been utilized in advanced air and space applications. With marked improvements in efficiency, our work is driven by the environment.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <!-- NOTE: From https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg-->
                    <img class="img-responsive" src="../../images/pexels-photo-59519_900.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Software Engineering</h2>
                    <p class="lead">Ever since we wrote our first lines of code in @ViewBag.FoundingYear, we've been dedicated to software excellence. Our work with atypical design patterns and Test Driven Development have been the anchor of our strategies. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- NOTE: from https://www.pexels.com/photo/woman-typing-writing-programming-7112/ -->
                    <img class="img-responsive" src="../../images/woman-typing-writing-windows_900.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!-- /.content-section-a -->
    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with Mercury North:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/ckriutz" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
        
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Mercury North 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

<!-- put scripts here -->
    <script src="lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>